.parsys{
    width: 100%;
    height: 770px;
    color: #fff;
}
.image{
    background-image: url(../images/background.jpg);
    background-position: bottom center;
    background-size: cover;
}
.image-tab{
    width: 100%;
    height: 490px;
}
.message-wrapper{
    width: 960px;
    height: 490px;
    margin: 0 auto;
}
/* a:-webkit-any-link {
    cursor: pointer;
} */
.headline{
    font-family: 'Aktiv Grotesk W01 SC Bold',sans-serif;
    font-size: 25px;
    line-height: 1.32;
    margin: 0 0 .4375em;
    color: #fff;
}
.call-action{
    width: 369.38px;
    height: 15px;
}
.fare{
    font-family: 'Aktiv Grotesk W01 SC Light';
    font-size: 20px;
    line-height: 1.32;
    margin: 0 0 0;
    color: #fff;
}
.btn-call-to-action{
    font-family: 'Aktiv Grotesk W01 SC Light',sans-serif;
    margin-top: 10px;
    display: inline-block;
    color: #0f748f;
    background: #fff;
    height: auto;
    padding: 3px 15px;
    font-weight: 900;
    cursor: pointer;
    font-size: 12px;
}
.section-content{
    width:370px;
    padding: 1.5em;
    position: absolute;
    margin-top: 70px;
    cursor: pointer;
    background: rgba(0,101,100,0.91) 100%;
}
.message-wrapper a:hover{
    text-decoration: none;
}
.maintop-detail{
    font-weight: 100;
}
.opt-cue{
    display: inline-block;
    background: rgba(255,255,255,0.9);
    color: #0f748f;
    border-radius: 20px;
    text-align: center;
    margin-top: 392px;
    bottom: 20rem;
    margin-left: 415px;
    padding: 4px 8px 0px 19px;
    font-size: .8em;
    cursor: pointer;
}
.fadeIn{
    animation: fadein 1s;
}
.opt-arrow{
    display: inline-block;
    border: 1px solid #0f748f;
    border-radius: 12px;
    width: 20px;
    height: 4px;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
    padding-top: 17px;
}
.opt-arrow i{
    top: 3px;
    position: absolute;
    left: 3px;
}
.home-tabs{
    width: 100%;
    display: inline-block;
    height: 52px;
    margin-top: 14px;
}
.tabs{
    list-style: none;
    max-width: 960px;
    display: table;
    padding: 0;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}
.tabs li{
    display: inline-block;
    width: 240px;
    height: 100%;
    display: inline-block;
    width: 239px;
    height: 100%;
    border-left: 1px solid #ebedec;
}
.tabs a{
    display: table; 
    float: none;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0;
    background: #4c4c4c;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
    border: 1px dotted transparent;
}
#tab-active {
    color:#000;
    background: #ebedec;
    border: 1px solid transparent;
}
.tabs a:hover{
    color:#000;
    background: #ebedec;
    text-decoration: none;
    border: 1px solid transparent;
}
.span-margin{
    margin-top: 17px;
}
.book-trip-tab-panel{
    width: 100%;
    height: 280px;
    background: #ebedec;
}
.book-trip{
    width: 962px;
    height: 100%;
    margin: 0 auto;
}
.trip-type-selection {
    padding: 1.625rem 0 1rem;
    border-bottom: #d7d7d7 solid 1px;
}
.trip-radio{
    clear: none;
    clip: rect(0 0 0 0);
    position: absolute;
}
.trip-radio-label{
    border: #fff 8.5px solid;
    margin-right: 8px;
    box-shadow: 0 0 0 1px #c6c2c1;
    border-radius: 8px;
    display: inline-block;
} 
.label-color{
    color:#4c4c4c;
    margin: 0 10px;
}
.trip-type-selection i{
    color: rgb(142,133,115);
}
.span-color{
    color:#0f748f; 
    font-weight: bold;
    margin-left: 5px;
}
.trip-type-panel{
    display: none;
}
.trip-type-panel.panel-active.panel-open{
    display: block;
}
.flight-booking-panel{
    padding-top: 26px;
}
.book-trip-return-standalone{
    float: left;
}
.ui-radio{
    position: absolute;
    clip: rect(0 0 0 0);
}
.radio-label{
    color: #0f748f;
    font-family: 'Aktiv Grotesk W01 SC Regular',sans-serif;
    margin: 0 28px 16px 0;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
.book-trip-extras-medium-up{
    list-style: none;
    color: #0f748f;
    display: inline-flex;
    font-weight: bold;
    cursor: pointer;
}
.book-trip-extras-medium-up a:link{
    text-decoration: none;
}
.book-trip-extras-medium-up span{
    color: #0f748f;
    font-weight: bold;
}
.trip-redeem{
    padding: 0 1.25rem;
    border-left: #d7d7d7 1px solid; 
}
.flight-booking{
    display: table;
    float: left;
    width: 960px;
    height: 55px;
}
.flight-depart{
    display: table-cell;
    width: 50%;
    height: 100%;
}
.flight-arrive{
    display: table-cell;
    width: 50%;
    height: 100%;
    border-left: #ebedec solid 2px;
}
.field-group{
    position: absolute;
    color: #0f748f;
}
.lable-filled{
    cursor: inherit;
    position: absolute;
    top: .5rem;
    left: .875rem;
    font-size: 11px;
    text-transform: uppercase;
    color: #767676;
    clip: inherit;
    height: auto;
    overflow: hidden;
    width: auto;
}
.input-filled{
    margin: 10px 0 10px 12px;
    font-size: .875rem;
    color: #4c4c4c;
    width: 220%;
    border: none;
    font-weight: 600;
}

.field-group-departure{
    margin:0 auto;
    position: relative;
    height: 57.5px;
    width: 478px;   
}
.field-label{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.field-input-departure{
    padding-left: .857em;
    max-height: 3.58em;
    font-size: 14px;
    color: #4c4c4c;
    text-align: left;
    line-height: 28px;
    border: 1px solid #fff;
    background: #fff;
    border-bottom: 1px solid #c6c2c1;
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 1em 1em 0.5em 2em;
    width: 90.7%;
}
.label-input{
    cursor: inherit;
    position: absolute;
    top: 5px;
    left: 33px;
    font-size: 11px;
    text-transform: uppercase;
    color: #767676;
    clip:inherit;
    height: auto;
    overflow: hidden;
    width: auto;
}

.flight-tooltip{
    display: table;
    width: 960px;
    height: 55px;
    background: #fff;
    margin-top: 74px;
    position: relative;
}
.flight-cell{
    display: table-cell;
    width: 190px;
    height: 100%;
    background: #fff;
    border-bottom: 1px solid #c6c2c1;
}
.flight-cell-border{
    display: table-cell;
    width: 190px;
    height: 100%;
    background: #fff;
    border-left: #ebedec solid 2px;
    border-bottom: 1px solid #c6c2c1;
}
.depart-data{
    font-size: 11px;
    color: #767676; 
}
.field-group .span-filled{
    position: absolute;
    top: .5rem;
    left: .875rem;
    font-size: 11px;
    color: #767676;
    width: 100px;
}
.depart-date{
    position: absolute;
    top: 8px;
    left: 4px;
    width: 152px;
    margin-top: 18px;
    font-size: 14px;
    background: #fff;
    border: none;
    text-align: left;
    line-height: 25px;
}
.depart-date:focus{
    color:#0f748f;
}
.calendar_1{
    width: 655px;
    height: 320px;
    background: pink;
    position: absolute;
    z-index: 2;
    top: 55px;
    left: 0;
    display: none;
}
.input-number{
    margin: 10px 0 10px 12px;
    font-size: .875rem;
    color: #4c4c4c;
    width: 67%;
    border: none;
    font-weight: 600;
}
.flight-arrive-color{
    background: #a62128;
}
.button-submit{
    background: #a62128;
    border: none;
    width: 90%;
    height: 100%;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
.button-submit span{
    margin-right: 45px;
}
.one-world{
    display: table-cell;
    vertical-align: middle;
    padding: 23px 0 0 0;
    position: relative;
    width: 3.875rem;
}

.site-search-trigger{
    display: table-cell;
    padding: 0px 20px 0 15px;
    color: #4c4c4c;
}




