.trip-type-selection {
    margin: 0 0 18px;
    padding: 11.2px 0 0;
}
.trip-type-selection .ui-radio{
    clear: none;
    float: left;
}
.ui-radio {
    clip: rect(0 0 0 0);
    position: absolute;
}
.trip-type-selection .ui-radio:checked+.field-label {
    outline: 1px solid transparent;
}
.trip-type-selection .field-label {
    background: transparent;
    border-bottom: 0;
    margin: 0 1.3em 0 0;
    padding: 0;
    width: auto;
    clear: none;
    float: left;
    display: block;
    cursor: pointer;
    position: relative;
    font-size: .875rem;
    border-radius: 0;
}
.trip-type-selection .field-label .icon-plane+.title {
    margin-left: 35px;
}
.ui-radio:checked+label:before {
    background: #0f748f;
}
.ui-radio+label:before {
    background: #fff;
    border: #fff .4em solid;
    border-radius: 1em;
    box-shadow: 0 0 0 1px #c6c2c1;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: .6em;
    margin: 0 .5em 0 0;
    width: .6em;
    vertical-align: -3px;
}
.ui-radio+label {
    color: #0f748f;
}
.trip-type-selection i{
    color: #4c4c4c;
}