body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.subscribe-newsletter-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
.section-wrapper{
    margin-bottom: 32px;
    display: block;
}

.section-wrapper:before, .section-wrapper:after {
    content: " ";
    display: table;
}
.section-wrapper:after {
    clear: both;
}
.subscribe-newsletter{
    margin:32px 0 0;
}
.subscribe-newsletter-wrapper{
    width: 65.83333%;
    max-width: 632px;
    margin:32px auto;
    
}
.header{
    margin: 0 auto 16px;
    width: 100%;
    text-align: center;
    line-height: 1.14;
    font-size: 1.75rem;
    font-weight: 300;
    font-family: 'Aktiv Grotesk W01 Light1370681',sans-serif;
    color: #006564;
}
.sub-header{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
    font-size: .875em;
    line-height: 1.35;
    margin-bottom: 1.25rem;
}
.subscribe-newsletter .subscribe-newsletter-wrapper .member-wrapper {
    margin-bottom: 1.25rem;
}
.ui-radio {
    clip: rect(0 0 0 0);
    position: absolute;
}
.subscribe-newsletter-wrapper .member-wrapper .field-label {
    margin: 0;
    font-size: .875em;
    margin-right: 39.2px;
    display: inline-table;
    cursor: pointer;
}
.ui-radio:checked+label {
    outline: 1px solid transparent;
    font-family: 'Aktiv Grotesk W01 Bold1370651',sans-serif;
    color: #4c4c4c;
}
.ui-radio+label {
    color: #0f748f;
}
.subscribe-newsletter-wrapper .member-wrapper .field-label:before {
    vertical-align: -5px;
}
.ui-radio:checked+label:before {
    background: #0f748f;
}
.ui-radio+label:before{
    background: #fff;
    border: #fff .4em solid;
    border-radius: 1em;
    box-shadow: 0 0 0 1px #c6c2c1;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: .6em;
    margin: 0 .5em 0 0;
    width: .6em;
    vertical-align: -3px;
}
.subscribe-newsletter .subscribe-newsletter-wrapper .subscription-form {
    margin-top: -4px;
}
.subscribe-newsletter-wrapper .subscription-form .form-wrapper {
    margin: 0 auto;
    width: 100%;
}
subscribe-newsletter-wrapper .subscription-form .form-wrapper:after {
    content: " ";
    display: table;
}
.subscribe-newsletter-wrapper .subscription-form .form-wrapper:after {
    clear: both;
}
.subscribe-newsletter-wrapper .subscription-form .form-wrapper:after {
    content: " ";
    display: table;
}
.form-wrapper .custom-select-wrapper {
    width: 32.25%;
}
.form-wrapper .custom-select-wrapper {
    position: relative;
    top: auto;
    right: auto;
    min-height: 3.15rem;
    margin: 0 0 .625rem;
    display: block;
    float: left;
    font-size: 1em;
    vertical-align: top;
    text-align: left;
}
.input-wrapper{
    width: 32.25%;
    margin: 0 0 .625rem 1.6%;
    display: block;
    float: left;
}
.form-wrapper .field-group {
    position: relative;
}
.form-wrapper .email-address-wrapper {
    margin-bottom: .625rem;
    display: block;
    width: 100%;
    float: left;
}
.form-wrapper .custom-select-wrapper.country-selector-container {
    width: 100%;
    margin-bottom: 30px;
}
.subscription-form .form-wrapper .button-subscribe.disabled:hover {
    cursor: default;
    background: linear-gradient(to top,#c1c1c1 0,#dbdbdb 100%);
    border-radius: 2px;
    color: #4c4c4c;
    border: 0;
    text-shadow: none;
}
.subscription-form .form-wrapper .button-subscribe.large-up {
    display: block;
}
.subscription-form .form-wrapper .button-subscribe {
    display: block;
    width: 31.65%;
    padding: .56875em 0;
    line-height: 1.95rem;
    text-align: center;
    margin: 1.375rem auto 0;
    font-weight: 300;
    border:none;
    height: 55px;
    border-radius: 3px;
}
.field-label.dropdown-label-selected {
    color: #4c4c4c;
    cursor: inherit;
    position: absolute;
    top: .5rem;
    left: .875rem;
    font-size: .6857rem;
    text-transform: uppercase;
    clip: inherit;
    height: auto;
    overflow: hidden;
    width: auto;
    display: block;
    z-index: 2;
}
.field-label{
    border: 0;
    padding: 0;
    margin: -1px;
}
.custom-select-wrapper .custom-select-trigger.dropdown-span-selected {
    line-height: 1.25;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    width: 186px;
    height: 18px;
}
.custom-select-wrapper .custom-select-trigger {
    font-size: 14px;
    font-size: .875rem;
    padding: 1rem 1rem .95rem 0;
}
.custom-select-wrapper .custom-select-trigger {
    /* border: 1px solid #c6c2c1; */
    margin-right: 0;
    width: 100%;
    line-height: 1.2;
    padding: .9rem 1rem .9rem 0;
}
.custom-select-trigger.dropdown-span-selected {
    line-height: 1.3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 1.6em 1em .5em 0;
    height: 3.58em;
    max-height: 3.58em;
    font-size: .875em;
}
.custom-select-wrapper .custom-select-trigger {
    border: 1px solid #c6c2c1;
    margin: 0;
}
.custom-select-wrapper .custom-select-trigger {
    border: 1px solid #fff;
    border: 1px solid #c6c2c1;
    position: relative;
    margin-right: 32px;
}
.custom-select-trigger {
    background-color: #fff;
    border: 1px solid #c6c2c1;
    cursor: pointer;
    display: inline-block;
    line-height: 2.6em;
    width: 6.5625em;
}
.subscribe-newsletter .subscribe-newsletter-wrapper .subscription-form .form-wrapper .custom-select-wrapper .custom-select-text {
    margin-left: .75em;
    font-weight: 300;
    font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
}
.custom-select-trigger .custom-select-text {
    font-size: 1em;
    margin-left: 1em;
}
.custom-select-trigger .custom-select-text {
    display: inline-block;
    margin-left: 1.8em;
}
.custom-select-wrapper .icon {
    border-bottom: 0;
    padding: 2.99em 1em;
    display: block;
    border-bottom: 1px solid #fff;
    position: absolute;
    height: 25%;
    top: 0;
    right: 0;
    padding: 1.4em 0.8em;
    background-color: #ebedec;
    font-size: 13px;
    font-family: 'cx-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.custom-select-wrapper .custom-select-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    color: #4c4c4c;
}
.custom-select-control{
    border-radius: 0;
    border: 1px solid #fff;
    cursor: pointer;
    opacity: 0;
}
.form-wrapper .field-input {
    background: #fff;
    display: block;
    margin: 0;
    padding-left: .857em;
    height: 3.58em;
    max-height: 3.58em;
    width: 92%;
}
.cx-inputfield .field-label{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.email-address-wrapper .field-input{
    padding-left: .857em;
    height: 3.58em;
    max-height: 3.58em;
    width: 97.5%;
}



.country-selector-container .custom-select-trigger.dropdown-span-selected {
    line-height: 1.25;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    width: 97.5%;
    height: 18px;
}